 General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}

ol, ul {
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

input, textarea, select {
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}

textarea {
	overflow:auto;
	resize:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:13px;
	line-height:21px;
	color:#FFFFFF;
	background-color:#FFFFFF;
	font-family:Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	margin-bottom:10px;
}

h2 {
	font-size:25px;
	margin-bottom:10px;
}

h3 {
	font-size:18px;
	margin-bottom:10px;
	color: #000000;
}

h4 {
	font-size:16px;
	margin-bottom:10px;
}

h5 {
	font-size:14px;
	margin-bottom:10px;
}

h6 {
	font-size:12px;
	margin-bottom:10px;
}

	/*  links
	******************************/
	a {color: #1B5219;text-decoration: underline;}
	a:hover {color: #1B5219;text-decoration: none;}

	/*  superscript and subscript
	******************************/
	sup, sub {vertical-align: baseline;position: relative;top: -0.4em;}
	sub { top: 0.4em; }

	/*  lists
	******************************/
	ul, ol {padding:0;margin:0;}
	ul li {list-style-type:disc;}
	ol li {list-style-type:decimal;}
	ul li,
	ol li {font-size: 12px; line-height: 16px;/* margin: 0 0 10px 15px; */}

	/*  tables
	******************************/
	table,th,td {border:1px solid #AAAAAA;}
	th {padding:3px; font-weight:bold;color:#FFFFFF;}
	tr {margin:0 0 5px 0;padding:3px;}
	td {padding:5px;margin:0 1px;}

	/*  horizontal lines
	******************************/
	hr {border-bottom: 1px solid #C1C1CB;margin:5px 0;padding:0;height:2px;width:100%; margin-bottom:15px;}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

#wrapper {
	width: 1130px;
	margin:0 auto;
	padding: 15px 0 10px 0;
}

/*----start header----*/
#header {
	padding:0px 0px 5px;
	overflow: hidden;
}

#header .top_banner{

/* 	background:#FFFFFF; */
	height: auto;
	width:auto;
	/*padding:75px 95px 0 295px;*/
/*	border:#496066 solid 1px;
*/}

#header img{
	max-width:100%;
max-height:100%;
margin:auto;
display:block;
}





/*#header h1{
	font-size:32px;
	color:#000000;
	margin:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	padding:0px 0px 10px;
}

#header h1 a {
	color:#000000;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
}

#header p{
	font-size:16px;
	margin-left:1px;
	color:#000000;
	font-family:Georgia, "Times New Roman", Times, serif;
}*/

.navigation{
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-bottom:#adb1b2 solid 1px;
	height:34px;
	width:100%;
	float:left;
	margin-bottom: 30px;
}

.navigation ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.navigation ul li:first-child{
	list-style-type:none;
	margin-left:200px;
	padding:0px;


}



.navigation a{
	display:block;
	height: 34px;
	width:163px;
}

.navigation li{
	display:block;
	float:left;
	font-size:18px;
	text-align: center;
	line-height: 34px;

/*	list-style-type:none;
	border-right:#868B8F dotted 2px;*/
}

.navigation ul li a{
	color:#FFFFFF;
	text-decoration:none;

}

.navigation ul li a:hover{
	text-decoration:underline;
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
 	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
 	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;

}

.navigation ul li:last-child {
	border-right:none;
}
/*----end header----*/


/*----start page content----*/
#page_content{
	background:#FFFFFF;
	padding:0px 10px 10px 10px;
}

#page_content .right_section{
	width:735px;
/*	float:right;
*/}

#page_content .right_section .top_content{
	padding:15px 0 0px 0;
}

#page_content .right_section .top_content .column_one{
	width:300px;
/*	float:left;
*/	margin-bottom:20px;
}

#page_content .right_section .top_content .column_two{
	width:300px;
/*	float:right;
*/	margin-bottom:20px;
}

.common_content{
	padding:0 0 0 0;
}

.border_left{
	border-left:#6e7678 dotted 1px;
	padding-left:20px;
}

.border_none{
	border:none!important;
	margin:0px!important;
}

.dictionary_video{
	float: right;
}

#unit_words {
	padding:none ;
	width:200px;

}

.left_side_bar{
	width:210px;
	margin-bottom:10px;
	float:left;
}

.left_side_bar h1{
	font-size:18px;
	padding:0 0 0 35px;
	margin-bottom:15px;
	color:#1b0400;
	background:url(../images/pencil.png) no-repeat 10px center;
}


.left_side_bar  .box{
	width:100px;
	height: 337px;
	padding:10px 15px 5px;
	border:#A1A9AB solid 2px;
}

.left_side_bar .box ul{
	display:inline;
	margin:0px;
	padding:0px;
}

.left_side_bar .box ul li{
	display:inline;
	margin:0px 0px 8px;
	padding:0px 0px 0px 20px;
	font-size:13px;
	list-style-type:none;
	background:url(../images/li.png) no-repeat left center;
}

.left_side_bar .col_1 .box ul li a{
	color:#FFFFFF;
	text-decoration:underline;
}

.left_side_bar .col_1 .box ul li a:hover{
	color:#364b38;
	text-decoration:none;
}
/*----end page content----*/


/*----start footer content----*/
#footer{
	clear:both;
	margin-top:18px;
	padding:15px 0 12px 0;
	height:25px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:19px;
	border-top:#b9bdbe solid 1px;
}

#footer a{
	color: #1B5219;
	text-decoration:none;
}

#footer a:hover{
	color: #1B5219;
	text-decoration:underline;
}

/*----end footer content----*/

/*----Buttons-----*/

/*.btn {


  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/
h1, h2, h3, h4, h5, h6 {font-family: Century Gothic;}
.btn {
	font-family: Century Gothic;
}
	#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		width:1000px;
		padding:20px;
	}
	.tftextinput{
		width:270px;
		margin: 0;
		margin-left: 84px;
		padding: 5px 105px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
#videoContainer{
	position:relative;
	float:right;

}	

#favoriteVideo{
	position:absolute;
	left:360px;
	top:10px;
	height:30px;
	width:30px;
	background-color: blue;
	z-index:2;
}

	/****************************************************
//          Start Finger Speller Style
//****************************************************/
#FScontainer{

width:500px;
height:500px;
}

#playCSS:hover{
	content:url("Widgets/play_hover.png");
}

#playCSS:active{
	content:url("Widgets/play_active.png");
}


#imgContainer{
vertical-align: middle;
	margin-left:auto;
	margin-top: 30px;
	width:490px;
	height:450px;
	border: solid;
	border-color: black;

}
#imgContainer img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
	}

#FScontrols{
	margin-left:239px;
	width:100%;
list-style-type: none;
}

#FScontrols ul{
	height:40px;
	list-style-type: none;
	padding:0;
	margin: 0;
}

#FScontrols li{
	list-style-type: none;
			 	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
	float:left;
	font-size:15px;
	text-align: center;
	line-height: 28px;
	height: 30px;
}
#FScontrols li:last-child{
	width:136px;
	}

#FScontrols a{
		color:#FFFFFF;
	text-decoration:none;
		font-size:15px;
	text-align: center;
	line-height: 28px;
	display:block;
	width:60px;
}

#FScontrols ul li a:hover{

  	cursor: pointer;

}



#inputWord{
	width:100px;
}




/****************************************************
//          End Finger Speller Style
//****************************************************/

/*************************
/		Login Page Style
/***************************/

#login {
	position: absolute;
	width: 350px;
	height: 400px;
	background-color: white;
	opacity: 0.85;
	overflow: none;
	float: left;
	color: black;
}

#account {
	font-size: 18px;
	margin: 75px 50px 0px 50px;
	font-family: Century Gothic;
	color: #2980b9;
	width: 250px;
	font-weight: 600;
}
#input {
	color: #2980b9;
	font-family: Century Gothic;
	font-size: 22px;
	font-weight: 600;
	width: 250px;
	margin: 125px 50px 0px 50px;
}
#image {
	background-image: url('home_page.jpg');
	background-size: 980px 400px;
	width: 980px;
	height: 400px;
}

input[type=text], input[type=password]{
	height: 20px;
	border: 1px solid #808080;
	font-size: 15px;
	padding-left: 5px;
}
input[type=submit] {
padding:5px 15px;
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
/*background:#3498db; */
font-family: inherit;
color: white;
border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }

.buttonContainer{
	height: 30px;
	width: 50px;
}

.buttonContainer img{
	max-width: 100%;
	max-height: 100%;
}

#acc {
width: 250px;
height: 20px;
font-size: 10px;
text-align: right;
}


/**************************
End Units content
**************************/



/**************************
End Units content
**************************/

/**************************
Start MyWords content
**************************/
 /**************************
Start MyWords content
**************************/
.myWordsItem{
	height:100px;
	width:600px;
	margin-left:200px;
	background-color: white;
	box-shadow: 3px 3px 10px #888888;
}



.myWordsImgContainer{
	float:right;
	height:50px;
	width:70px;
}

.wrd_btn {
	width: 80px;
	height: 80px;
	font-family: Century Gothic;
	color: white;
	font-size: 20px;
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	margin: 10px;
	cursor: pointer;
}
.remove {
	width: 160px;
	height: 30px;
	margin: 35px 20px;
	font-family: Century Gothic;
	font-size: 14px;
	color: #3498db;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 8px;
	box-shadow: none;
	cursor: pointer;
}
.remove:hover {background-color: #E6E6E6;}
.remove:active {background-color: #ccc;}

.myWordsItem img{
	max-width:100%;
	max-height:100%;
	float:right;
	margin: 10px;
	height: 80px;
	width: 80px;
}

.myWordsItem button{
float:left;
}

#faster:hover, #slower:hover{
		text-decoration:underline;
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
 	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
 	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;

}



.video_playback{
  margin-left: 50px;
}

/**************************
End MyWords content
**************************/


form#rqst {
	margin-left: 25em;
	margin-top: 5em;
	margin-bottom: 5em;
	border: 1px solid #cccccc;
	padding-left: 60px;
	padding-top: 10px;
	width: 240px;
	height: 240px;
	box-shadow: 2px 2px 5px gray;
	border-radius: 5px;
}	

input.rqst {
	border: 1px solid #ccc;
	height: 1.5em;
}
input.rqst:hover {border: 1px solid gray;}
